/* =====================================================
   GLOBAL
===================================================== */

html,
body,
#root {
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}


/* =========================
   TOP BAR
========================= */

.top-bar {
  min-height: 38px;
  padding: 8px 5%;
  background: #d71920;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.top-message {
  text-transform: uppercase;
}

/* =========================
   HEADER
========================= */

.header {
  background: #fffdf5;
  border-bottom: 1px solid #eee2ca;
}

.header-container {
  max-width: 1400px;
  margin: auto;
  min-height: 105px;
  padding: 15px 35px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

/* SEARCH */

.search-box {
  width: 310px;
  height: 45px;

  display: flex;

  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;

  background: white;
}

.search-box input {
  width: 100%;
  border: none;
  outline: none;

  padding: 0 15px;
  font-size: 13px;
}

.search-box button {
  width: 55px;
  border: none;

  background: #d71920;
  color: white;

  font-size: 18px;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  text-align: center;
}

.logo h1 {
  font-family: Georgia, serif;
  font-size: 30px;
  color: #c9161d;
  letter-spacing: 2px;
}

.logo h1 span {
  color: #e89b00;
}

.logo p {
  font-size: 8px;
  letter-spacing: 2px;
  color: #4c7127;
  font-weight: 700;
}

.logo-leaf {
  font-size: 28px;
}

/* ACTIONS */

.header-actions {
  display: flex;
  align-items: center;
  gap: 28px;
}

.header-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;

  color: #333;
}

.header-action span {
  font-size: 28px;
}

.header-action small {
  font-size: 11px;
  font-weight: 600;
}

/* =========================
   NAVBAR
========================= */

.navbar {
  background: #f5b900;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
}

.nav-container {
  min-height: 48px;
  max-width: 1400px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;

  padding: 0 20px;
}

.nav-container a {
  color: #211800;
  font-size: 13px;
  font-weight: 700;

  position: relative;
  transition: 0.3s;
}

.nav-container a::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -8px;

  width: 0;
  height: 2px;

  background: #d71920;

  transition: 0.3s;
}

.nav-container a:hover {
  color: #d71920;
}

.nav-container a:hover::after {
  width: 100%;
}
